<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret1">Private content 1(requires authentication)</a>
  <a href="/secret2">Private content(requires authentication)</a>
</div>
